:root {
  --primary-color:#fff;
  --secondary-color:#87CEEB;
  --accent1-color:#000;
  --accent2-color: #eee;
  --heading-font: "Times New Roman", "Georgia", serif;
  --body-font: Arial, Helvetica, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);

}
header, main, footer {
    max-width: 840px;
    margin:  0 auto;
    

}
/*h1, h2 {
    font-family: var(--heading-font);
    color: var(--secondary-color);
    background-color: var(--accent2-color);
}*/

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}
.socialmedia a {
    text-decoration: none;

}
.hero {
    position: relative;
    margin: 20px 0;

}
.hero img {
    display: block;
    width: 100%;
    height: auto;
    
}
/*h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    color:var(--primary-color);
    background-color: var(--accent1-color);
}*/
 .hero article {
    margin: auto;
    position:absolute;
    top: 180px;
    background-color:var(--accent2-color);
    box-shadow: 0 4px 6px rgba(0,0,0); 
    border-radius: 4px;

    
 }
 /* section {
    background-color: beige;
    margin: 20px 0 ;
    padding: 16px;
    border-radius: 4px;
    }*/
 .hero article img {
    float: right;
    width: 125px;
    border: 0;
    
 }

 header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    


 }
 nav ul {
    display: flex;
    gap: 20px;
 }
 footer {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

 }

 header, footer {
    background-color: var(--secondary-color);
 }
 .logo {
    margin: 10px;
 }

 nav a {
    text-decoration: none;
 }
.adventures {
    background-color: transparent;
}
.adventure-grid {
    display: grid;
    grid-template-columns:repeat(5,1fr) ;
    gap: 15px;
    padding: 20px 0;
}

figure img:hover {
    transform: scale(1.05);
}

figcaption {
    padding: 10px;
    background-color: var(--accent2-color);
    font-weight: bold;
    font-size: 14px;
}
footer p {
    margin-bottom: 15px;
}
figure {
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
}
figure img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}
.info {
    display: grid;
    justify-content: center;
}
section {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    

}
.info-item {
    display: grid;
    padding: 10px;
    
}
iframe {
    width: 300px;
    height: 400px;
     border: 0;
     

}
.profile-grid {
 display: grid;
    grid-template-columns:repeat(3,1fr) ;
    gap: 15px;
    padding: 20px 0;
}
