* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    max-width: 500px;
    background-color:#555;
    margin: 1rem;
    padding: 1rem;
    color: #fff;
    border: 1px solid rgb(0 0 0 / 10%);
}

form {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    text-align: left;
    background-color: #ddd;
    color:#000;
    
}
button {
    background-color:darkblue;
    color: white;
    border:none ;
    padding: 1rem;
    margin: 0 auto;
    display: block;
    border-radius: 5rem;
}
button :hover {
    background-color: darkgreen;

}
body {
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;

}
select {
    padding: 10px;
}
h1 {
    
    margin: .5rem;
}
code {
    display: block;
    background-color: black;
    color: #fff;

}
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 1rem;
}
.quiz-item {
    border: none;
}
input, textarea, select {
    padding: .75rem;
    width: 350px;

}
