table {
    border-collapse: collapse;
    border: 2px solid rgb(140,140, 140);
    letter-spacing: 1px;

}
tfoot tr, thead tr  {
    background-color: black;
    color: white;
    font-weight: 700;
}
td, th {
    text-align: center;
    padding: 8px 12px;
    border: 1px solid rgb(150,150, 150)
}