:root {
    --primary-color: darkblue;
    --secondary-color: #eee;
    --text-color: #333;
    --border-color: #000;
    --light-border: rgb(0 0 0 / 0.2);
    --shadow-color: gray;
    --padding-default: 10px;
    --padding-lg: 20px;
    --margin-default: 20px;
    --border-radius: 4px;
}

nav {
    background-color: var(--primary-color);
    padding: var(--padding-default);
}

nav a {
    color: white;
    display: block;
    padding: var(--padding-lg);
}

main {
    max-width: 840px;
}

h1 {
    color: var(--primary-color);
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid var(--border-color);
    padding: 2px;
    box-shadow: 0 0 30px var(--shadow-color);
}

aside {
    width: 20rem;
    margin: var(--margin-default) 0;
    border: 1px solid var(--light-border);
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0px;
}

footer {
    margin-top: 15px;
    border-top: 1px solid var(--border-color);
    text-align: center;
}