* {
   margin:0;
   padding:0;
   box-sizing: border-box; 
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}
nav {
    background-color: darkblue;
    padding: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
    text-decoration: none;
}
main {
    max-width: 840px;
}

h1 {
    color: darkblue;
    border-bottom: 20px;
}

main img {
    
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin: 0 0 1rem 1rem;
}
aside {
    position: relative;
    width:20em ;
    text-align: center ;

}
aside h2 {
    position: absolute;
    top: 67px;
    left: 150px;
}
aside img {
    
    width: 200px;
    height: auto;
}

p {
    padding: 0px;
    margin: 1rem;
}
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}


/*class selectors*/
.box {
    margin: 1rem;
    border:1px solid rgb(0 0 0 /10%);
    padding: 1rem;
    background-color: #ddd;
    color:#000;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}

.indent {
    margin-left: 1rem ;
}
 .grid {
    display: grid;
    align-items: center;
 }
 main {
    grid-column: 2/3;
    margin: 1rem;
    
 }
 aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
 }

